// adapted from https://docs.google.com/presentation/d/1_ayJg6JbahRizIbs9wEXh02H0dOl4uKKqIih-vfecQc/edit?usp=sharing

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:wght@700;800&display=swap');

// fonts
$heading-stack: "Poppins", sans-serif;
$paragraph-stack: "Montserrat", sans-serif;

// colours
$mt-new-green: #00AC32;
$mt-green-dark: #009129;

$white: #ffffff;
$light-grey: #F1F1F1;
$mid-grey: #A4A4A4;
$grey: #757575;
$dark-grey: #595959;
$extra-dark-grey: #333333;
$black: #000000;

$mt-yellow: #fecc2b; // focus outlines
$light-blue: #50BCF5;
$salmon: #FF6771; // for errors?